<template name="newQuestion">
    <div class="form-container">

        {{#autoForm collection="Quiz" doc=this id="insertPostForm" type="method" meteormethod="submitQuestion"}}
            <div class="headline">
                <h2>{{legend}}azza</h2>
            </div>
            <fieldset>
                {{> afQuickField name='title'}}
                {{> afQuickField name='body' rows=6}}
                {{> afQuickField name='_id' type='hidden'}}
            </fieldset>
            <input id="formSubmit" type="submit" class="btn btn-primary" value="Insert"/>
        {{/autoForm}}
    </div>
</template>