<template name="question">
    {{#if pointsUser}}
        {{>wizard id='pointsForm' doc=step.data steps=pointsSteps stepsTemplate=false}}
    {{else}}
        {{#if noPointsUser}}
            {{> wizard id='noPointsForm' doc=step.data steps=noPointsSteps stepsTemplate=false nextButton='Toliau' backButton='Atgal'}}
        {{else}}
            {{#autoForm schema="Schema.baseQuestion" doc=this id="baseQuestion" type="method" meteormethod="firstQuestionAnswered"}}
                <div class="headline">
                    {{console.log Schema}}
                    <h2>{{getBaseFormHeader}}</h2>
                </div>
                <fieldset>
                    {{> afQuickField name='answers'}}
                </fieldset>
                <input id="formSubmit" type="submit" class="btn btn-primary" value="Insert"/>
            {{/autoForm}}
        {{/if}}
    {{/if}}

    <p>
        // How To Show Echo Text HERE??
        Text = ???????????????????
        {{getVarFromSession}}
    </p>
</template>

<template name="questionForm">
    {{console.log step.data}}
    {{#autoForm schema=this.step.schema doc=step.data id=this.step.formId}}
    <div class="headline">
        <h2>{{this.step.title}}</h2>
    </div>
    <fieldset>
        {{> afQuickField name='answers'}}
    </fieldset>
    {{>wizardButtons}}
    {{/autoForm}}
</template>