<template name="question1">
    {{#autoForm schema="Schema.points.question1" id="pointsForm1"}}
        <div class="headline">
            <h2>{{getFormHeader}}</h2>
        </div>
        <fieldset>
            {{> afQuickField name='answers'}}
        </fieldset>
        <button type="submit" class="btn btn-success btn-lg pull-right">Next</button>
    {{/autoForm}}
</template>

<template name="question2">
    {{#autoForm schema="Schema.points.question2" id="pointsForm2"}}
        <div class="headline">
            <h2>{{getFormHeader}}</h2>
        </div>
        <fieldset>
            {{> afQuickField name='answers'}}
        </fieldset>
        <button type="submit" class="btn btn-success btn-lg pull-right">Next</button>
    {{/autoForm}}
</template>

<template name="question3">
    {{#autoForm schema="Schema.points.question3" id="pointsForm3"}}
        <div class="headline">
            <h2>{{getFormHeader}}</h2>
        </div>
        <fieldset>
            {{> afQuickField name='answers'}}
        </fieldset>
        <button type="submit" class="btn btn-success btn-lg pull-right">Next</button>
    {{/autoForm}}
</template>

<template name="question4">
    {{#autoForm schema="Schema.points.question4" id="pointsForm4"}}
        <div class="headline">
            <h2>{{getFormHeader}}</h2>
        </div>
        <fieldset>
            {{> afQuickField name='answers'}}
        </fieldset>
        <button type="submit" class="btn btn-success btn-lg pull-right">Next</button>
    {{/autoForm}}
</template>

<template name="question5">
    {{#autoForm schema="Schema.points.question5" id="pointsForm5"}}
        <div class="headline">
            <h2>{{getFormHeader}}</h2>
        </div>
        <fieldset>
            {{> afQuickField name='answers'}}
        </fieldset>
        <button type="submit" class="btn btn-success btn-lg pull-right">Next</button>
    {{/autoForm}}
</template>