<template name="question">
    {{> wizard id='wizardForm' steps=steps stepsTemplate='quiz_navigation' confirmButton='Baigti' nextButton='Toliau' backButton='Atgal'}}
</template>

<template name="questionForm">
    {{#autoForm schema=this.step.schema class="form-container" id=this.step.formId}}
        <div class="headline">
            <h2>{{this.step.title}}</h2>
        </div>
        <fieldset>
            {{> afQuickField name=this.step.formField}}
        </fieldset>
        {{>wizardButtons}}
    {{/autoForm}}
</template>

<template name="quiz_navigation">
    <div class="steps">
        <div class="navigation">
            {{#each wizard.steps}}
                {{#if pathForStep id}}
                    <a href="{{pathForStep id}}">
                        <div class="points-pic-container answered">
                            <div class="points"></div>
                        </div>
                    </a>
                {{else}}
                    <div class="points-pic-container{{#if activeStepClass id}} current {{else}} inactive {{/if}}">
                        <div class="points"></div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</template>
